.mi-alerta-personalizada {
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
    -fx-background-image: url("img/fondoAlert.jpg");
    -fx-background-size: cover;
    -fx-background-position: center;
    -fx-border-width: 2px;
    -fx-border-radius: 8px;
    -fx-background-radius: 8px;
    -fx-padding: 20;
}
.dialog-pane .button-bar {
    -fx-padding: 0px 60px 60px 0px;
    -fx-alignment: center;
}

.dialog-pane .button-bar .container {
    -fx-alignment: center;
    -fx-spacing: 30px;
}

.dialog-pane .header-panel {
    -fx-background-color: #a14e4e;
    -fx-text-fill: white;
    -fx-font-size: 16px;
    -fx-font-weight: bold;
}

.dialog-pane .content.label {
    -fx-text-fill: #ffffff;
    -fx-font-weight: bold;
    -fx-font-size: 15px;
    -fx-effect: dropshadow(gaussian, rgb(0, 0, 0), 2, 0.2, 1, 1);
    -fx-font-family: "Segoe UI", "Arial", sans-serif;
    -fx-padding: 2px 4px;

}

.dialog-pane .button-bar .button {
    -fx-background-color: #c5a3a3;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5px;
    -fx-padding: 8 15;
}

.dialog-pane .button-bar .button:hover {
    -fx-background-color: #6e3838;
}
